@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scafle=1.0, user-scalable=no">
<script type="text/javascript" src="@Url.Content("~/Content/FunongBao/js/jquery-1.4.2.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/FunongBao/js/option.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FunongBao/css/common.css")" />
<title>福农宝</title>
</head>

<body>
<div id="mbSubTitle">
    <section class="subTitleBox">
        <a href="http://wx.ssrcb.com/funongbao" class="backBtn swap"></a>
        <span>福农宝</span>
        <a href="http://wx.ssrcb.com/funongbao" class="homeBtn"></a>
    </section>
</div>

<div id="mbMain">
      <div class="frameChang">
          <span class="stitle">申请额度调整</span>
      </div>

      <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
          <section class="modBaseBox">
              <form action="" id="mobileRegister" method="post" style="margin: 0px; padding: 0px; display: block;">
                  <input type="hidden" name="sendURL" id="sendURL" value="">
                  <div class="modBd">
                        
                      <ul class="btts">
                          <span>尊敬的**先生/女士，您好！</span>
                          <li>您于*月*日，申请将本人的福农宝调整为调整为<font color="#ff6600">10</font>万元，*‰。<br />
                              <font color="#ff0000">审批未获通过，请您谅解，未通过的原因是：********</font></li>
                      </ul>  
                      <div class="bteBox">
                		 <span class="error">
                            <p>欢迎您下个季度再次提交申请。</p>
                         </span>
                	  </div>                  
                      <div class="btnLoginBox">
                          <input type="submit" class="modBtnColor coloryellow" value="返回">
                      </div>
                  </div>
              </form> 
          </section>
      </div>
</div>
<footer class="footer">
   <p>&copy;版权所有&nbsp;福农宝版权所有</p>
   <p>闽ICP备&nbsp;4512120号</p>
   <p>闽公网安备 110102000450</p>
</footer>
</body>
</html>

