<?xml version="1.0"?>
<Dictionary>
    <Key>
        <string>SafeCode</string>
    </Key>
    <Value>
        <string>Ocean</string>
    </Value>
    <Key>
        <string>SystemName</string>
    </Key>
    <Value>
        <string>测试平台</string>
    </Value>
    <Key>
        <string>ResourceDomain</string>
    </Key>
    <Value>
        <string>http://localhost:2014/images</string>
    </Value>
    <Key>
        <string>Domain</string>
    </Key>
    <Value>
        <!--<string>http://funongbao.b2c123.com</string>-->
      <string>http://localhost:4591</string>
    </Value>
</Dictionary>
