@{
    Layout = "../Shared/_GongzhibaoLayout.cshtml";
}
<div id="mbMain">
      <div class="frameChang">
          <span class="stitle">产品介绍</span>
      </div>
      <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
          <section class="modBaseBox">
              <div class="jjtxt">
                 <div class="logo"><img src="@Url.Content("~/content/bank/images/ns_logo.png")" /></div>
                 <div class="jtxt">
                    <strong>【产品简介】</strong>
                    <p>公职宝是本行针对公职人员发行的用于消费的普惠金融卡，具有自助循环、随借随还，按日计费等功能，满足公职人员临时消费需求。公职宝持卡人可在授信额度内随用随还、自助操作，通过手机银行、网银、柜面及ATM等渠道实现资金7*24小时随时周转使用。</p>
                    <strong>【产品特点】</strong>
                    <p>1. 额度高，免抵押担保</p>
                    <p>免抵押，额度最高可达30万，充分满足大宗消费需求。</p>
                    <p>2.自助循环，随用随还</p>
                    <p>授信期限最长3年，循环使用，随借随还更高效！</p>
                    <p>3.按日计息，灵活调整</p>
                    <p>用一天算一天利息，不使用不收息，一天也能借！根据交易流水动态调整，每万元每日利息最低可至2.5元。</p>
                 </div>
                 <div class="btnLoginBox">
                          <a class="modBtnColor coloryellow" href="/BankLoan/GongzhiBaoApply">公职宝申请</a>
                 </div>
              </div> 
          </section>
      </div>
</div>