<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scafle=1.0, user-scalable=no">
<script type="text/javascript" src="@Url.Content("~/Content/FunongBao/js/jquery-1.4.2.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/FunongBao/js/option.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FunongBao/css/common.css")" />
<title>福农宝</title>
</head>

<body>
<div id="mbSubTitle">
    <section class="subTitleBox">
        <a href="http://wx.ssrcb.com/funongbao" class="backBtn swap"></a>
        <span>福农宝</span>
        <a href="http://wx.ssrcb.com/funongbao" class="homeBtn"></a>
    </section>
</div>

<div id="mbMain">
      <div class="frameChang">
          <span class="stitle">身份验证</span>
      </div>

      <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
          <section class="modBaseBox">
              <form action="" id="mobileRegister" method="post" style="margin: 0px; padding: 0px; display: block;">
                  <input type="hidden" name="sendURL" id="sendURL" value="">
                  <div class="modBd">
                      <div class="bteBox">
                		 <span class="error">尊敬的<em>**</em>先生/女士，您好！非常抱歉，本次身份认证失败，失败的原因可能有以下几种：</span>
                	  </div>
                      
                      <ul class="btts">
                          <li style="border: none; padding:0; margin:0; text-indent: 0px;">1.你输入的信息有误，请您再次核实信息；</li>
                          <li style="border: none;padding:0; margin:0; text-indent: 0px;">2.您尚未成为我行福农宝客户，您可以通过微信公众号或我行网点向我行申请。</li>
                      </ul>
                      
                      <div class="btnLoginBox">
                          <input type="submit" class="modBtnColor coloryellow" value="福农宝申请">
                          <input type="submit" class="modBtnColor coloryellow" value="返回">
                      </div>
                  </div>
              </form> 
          </section>
      </div>
</div>
<footer class="footer">
   <p>&copy;版权所有&nbsp;福农宝版权所有</p>
   <p>闽ICP备&nbsp;4512120号</p>
   <p>闽公网安备 110102000450</p>
</footer>
</body>
</html>
