@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scafle=1.0, user-scalable=no">
<script type="text/javascript" src="@Url.Content("~/Content/FunongBao/js/jquery-1.4.2.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/FunongBao/js/option.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FunongBao/css/common.css")" />
<title>福农宝</title>
</head>

<body>
<div id="mbSubTitle">
    <section class="subTitleBox">
        <a href="http://funongbao.b2c123.com/funongbao" class="backBtn swap"></a>
        <span>福农宝</span>
        <a href="http://funongbao.b2c123.com/funongbao" class="homeBtn"></a>
    </section>
</div>

<div id="mbMain">
      <div class="frameChang">
          <span class="stitle">身份验证</span>
      </div>

      <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
          <section class="modBaseBox">
              <form action="" id="mobileRegister" method="post" style="margin: 0px; padding: 0px; display: block;">
                  <input type="hidden" name="sendURL" id="sendURL" value="">
                  <div class="modBd">
                      <div class="bteBox">
                		 <span class="btebxo">尊敬的客户，为了更好为您提供便捷的服务，首次进入"福农宝"模块需要验证您的身份，请您如实填写信息：</span>
                	  </div>
                      <ul class="fnb_list">
                         <li>
                            <p><input class="txtinput" name="" type="text" placeholder="用户名" autocomplete="on" /></p>
                            <span class="user-icon"></span>
                         </li>
                         <li>
                            <p><input class="txtinput" name="" type="text" placeholder="身份证号" autocomplete="on" /></p>
                            <span class="sfz"></span>
                         </li>
                         <li>
                            <p><input class="txtinput" name="" type="text" placeholder="福农宝卡号" autocomplete="on" /></p>
                            <span class="ka"></span>
                         </li>
                         <li>
                            <p><input class="txtinput" name="" type="text" placeholder="手机号" autocomplete="on" /></p>
                            <span class="tel"></span>
                         </li>
                         <li>
                            <p><input class="txtinput" name="" type="text" placeholder="验证码" autocomplete="on" /></p>
                            <em><a href="#">发送验证码</a></em>
                            <span class="yzm"></span>
                         </li>
                      </ul>
                      <div class="btnLoginBox">
                          <input type="submit" class="modBtnColor coloryellow" value="提交">
                          <input type="submit" class="modBtnColor coloryellow" value="取消">
                      </div>
                  </div>
              </form> 
          </section>
      </div>
</div>
<footer class="footer">
   <p>&copy;版权所有&nbsp;福农宝版权所有</p>
   <p>闽ICP备&nbsp;4512120号</p>
   <p>闽公网安备 110102000450</p>
</footer>
</body>
</html>
