@{
    Layout = null;
}
@using Ocean.Framework.Configuration.global.config;
<html>
<head>
    <title>石狮农商银行</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scafle=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bank/css/common.css?v=1")" />
    <style type="text/css">
        .fnb_list li b{width:140px;margin-left:32px;}
        .fnb_list li{padding:0px;line-height:20px;}
        /*--------------------表格样式------------------------*/
        .mappContainer1{padding:6px 8px 6px 8px;}
        .mappContainer1 dl{overflow:hidden;background: #fff;-webkit-border-radius: 3px;}
        .mappContainer1 dl dt{width:80%; text-align:left; line-height:30px;}
        .mappContainer1 dl dd{width: 20%;line-height:30px;}
        .mappContainer1 dl dt {float:left; line-height:40px;text-indent:24px; border-bottom:solid 1px #ccc; -webkit-box-sizing: border-box;}
        .mappContainer1 dl dd {float:left; line-height:40px; text-align: left; padding-right: 10px; color: #666; border-bottom:solid 1px #ccc; -webkit-box-sizing: border-box;}
        .posdetail{height: auto;
            padding-right: 60px;
            padding-left: 0;
            font-size: 16px;
            background: url(@Url.Content("~/content/images/next.png")) no-repeat right 50%;
            background-size: 25px 25px;
            display: block;
        }
        .posdetail span{
            position: relative;
            font-size: 16px;
            color: #101010;
            line-height: 23px;
         }
    </style>
</head>
<body>
<div id="mbSubTitle">
        <section class="subTitleBox">
        <span>他行汇入我行</span>
    </section>
    </div>
    <div id="mbMain">
        <div class="frameChang">
            <span class="stitle">他行手机银行/网银转我行账户的操作说明</span>
        </div>
        <div id="frameRegisterMobile" class="frameLoginBox frameLoginChang">
            <section class="modBaseBox">
            <div class="mappContainer1" style="padding-top: 6px;">
                <img src="/content/material/app.jpg" style="width:100%;"><br />
                        <div class="bg_con">
                          <dl>
                            <dt>
                               <a style="display:inline-block;" href="appinfo?bank=1"> 工商银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=1">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=2"> 农业银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=2">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=3"> 中国银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=3">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=4"> 建设银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=4">&nbsp;</a>
                            </dd>

                            
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=5"> 兴业银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=5">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=6"> 招商银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=6">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=7"> 浦发银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=7">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=8"> 中信银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=8">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=9"> 邮储银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=9">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=10"> 泉州银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=10">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=11"> 光大银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=11">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=12"> 民生银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=12">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?bank=13"> 平安银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?bank=13">&nbsp;</a>
                            </dd>
                          </dl>
                        </div>

                        <img src="/content/material/netbank.jpg" style="width:100%;"><br />
                        <div class="bg_con">
                          <dl>
                            <dt>
                               <a style="display:inline-block;" href="appinfo?netbank=1"> 工商银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=1">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=2"> 农业银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=2">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=3"> 中国银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=3">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=4"> 建设银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=4">&nbsp;</a>
                            </dd>

                            
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=5"> 兴业银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=5">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=6"> 招商银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=6">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=7"> 浦发银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=7">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=8"> 中信银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=8">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=9"> 邮储银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=9">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=10"> 泉州银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=10">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=11"> 光大银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=11">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=12"> 民生银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=12">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=13"> 平安银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=13">&nbsp;</a>
                            </dd>
                            <dt>
                                <a style="display:inline-block;" href="appinfo?netbank=14"> 华夏银行操作说明 </a>
                            </dt>
                            <dd>
                                <a style="float:right; display:inline-block;" class="posdetail" href="appinfo?netbank=14">&nbsp;</a>
                            </dd>
                          </dl>
                        </div>
              </div>
          </section>
        </div>
    </div>
    </div>
    <footer class="footer">
   @if (!string.IsNullOrWhiteSpace(GlobalConfig.GetConfig()["Telephone"])) 
   {
       <p>石狮农商银行客服热线：@(GlobalConfig.GetConfig()["Telephone"])</p>
   }
   @if (!string.IsNullOrWhiteSpace(GlobalConfig.GetConfig()["Copyright"])) 
   {
       <p>&copy;@(GlobalConfig.GetConfig()["Copyright"])</p>
   }
   @if (!string.IsNullOrWhiteSpace(GlobalConfig.GetConfig()["ICP"]))
   {
       <p>@(GlobalConfig.GetConfig()["ICP"])</p>
   }
   @if (!string.IsNullOrWhiteSpace(GlobalConfig.GetConfig()["Security"]))
   { 
       <p>@(GlobalConfig.GetConfig()["Security"])</p>
   }
</footer>
</body>
</html>
