<?xml version="1.0" encoding="utf-8"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <WebTitle>Ocean</WebTitle>
    <WebUrl>http://localhost:7907/</WebUrl>
    <WebImagesUrl>/images/</WebImagesUrl>
    <CdnImagesUrl>/images/</CdnImagesUrl>
    <Domain></Domain>
    <Template>default</Template>
    <Skin>skin</Skin>
    <Lang>zh_CN</Lang>
    <Icp />
    <Closed>0</Closed>
    <ClosedReason />
    <PasswordKey>1234567890</PasswordKey>
    <IpRegCtrl />
    <IpDenyAccess />
    <ApiIpAccess>192.168.100.1,192.168.100.111,192.168.100.62,192.168.100.141,192.168.100.145,127.0.0.1,222.77.98.78,192.168.100.117,59.57.15.169,192.168.100.66,210.13.212.110</ApiIpAccess>
    <AdminIpAccess />
    <FilterKey>javascript:=BLOCKED SCRIPT,jscript:=BLOCKED SCRIPT,vbscript:=BLOCKED SCRIPT,21点,FM2粉迷药,fuck,GHB粉,GHB水,GHB原粉,k粉,pierdol,白粉,冰毒,成人电影,成人论坛,成人漫画,成人图片,成人网站,成人文学,成人小说,成人影视,出售火药,出售假币,出售雷管,出售猎枪,出售麻醉枪,出售气枪,出售枪支,出售手枪,出售炸药,催情激素,大 纪元,大法,大纪元,动力钢珠,二十一点,法轮,仿真枪,钢珠枪,共铲党,胡椒基甲基酮,黄色电影,黄色漫画,黄色图片,黄色网站,黄色文学,黄色小说,黄色影视,激情小电影,级片,极景,甲基苯丙胺,假钞,九评,口交,老虎机,李洪志,六合采,六合彩,六四,氯胺铜,轮盘,麻古,麻黄碱,麻醉香烟,美国之音,蒙汉药,迷幻型,迷幻药,迷魂药,民运,明慧,喷雾型迷幻药,气枪,情色文学,情色小说,情色影片,人民报,三唑仑,式手枪,双性恋,唐人电视台,天安门事件,退党,无界,无码电影,无网界,小电影,性爱电影,性爱文学,性免费电影,性虐待,摇头丸,异黄樟脑,阴茎,阴毛,淫秽色情网站,晕倒型,转轮盘,自慰,自由亚州,坐台</FilterKey>
    <SeoTitle />
    <SeoKeyWords />
    <SeoDescription />
    <SeoHead>&lt;meta name="generator" content="Ocean" /&gt;</SeoHead>
    <AttachSave>1</AttachSave>
    <WaterMarkStatus>3</WaterMarkStatus>
    <WaterMarkType>0</WaterMarkType>
    <WaterMarkTransparency>5</WaterMarkTransparency>
    <WaterMarkText>cms.ocean.com</WaterMarkText>
    <WaterMarkPic>watermark.gif</WaterMarkPic>
    <WaterMarkFontName>Tahoma</WaterMarkFontName>
    <WaterMarkFontSize>12</WaterMarkFontSize>
    <AttachImgQuality>80</AttachImgQuality>
    <AttachImgMaxHeight>0</AttachImgMaxHeight>
    <AttachImgMaxWidth>0</AttachImgMaxWidth>
    <CookieDomain></CookieDomain>
    <VerifyImageAssemly>VerifyImage</VerifyImageAssemly>
    <IsCache>1</IsCache>
    <EnableTrade>1</EnableTrade>
    <PublishVesion>1.0.0.10</PublishVesion>
    <DistributeFileSystem>0</DistributeFileSystem><!--分布式文件系统开关-->
    <DFSTempPath>E:/images/</DFSTempPath>
    <DFSPathFormat>1</DFSPathFormat>
    <FTPEnable>0</FTPEnable> <!--FTP文件系统开关-->
    <FTPTempPath>E:/images/</FTPTempPath>
    <FTPPathFormat>1</FTPPathFormat>
    <BakClassName></BakClassName>
</BaseConfigInfo>