<?xml version="1.0"?>
<ArrayOfFastDFSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FastDFSConfigInfo>
    <Groupname>group1</Groupname>
    <Serveraddress>192.168.100.202</Serveraddress>
    <Serverport>22122</Serverport>
    <BakFtpIdent>1</BakFtpIdent>
    <Remoteurl>http://fdfs1.juxiangke.com/</Remoteurl>
    <Remoteurl2>http://fdfs2.juxiangke.com/</Remoteurl2>
    <AssemblyType>Ocean.FastDFS.FastDFSClient,Ocean.FastDFS</AssemblyType>
    <Enable>1</Enable>
    <Default>1</Default>
  </FastDFSConfigInfo>
</ArrayOfFastDFSConfigInfo>