<?xml version="1.0"?>
<ArrayOfFTPConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FTPConfigInfo>
    <Ident>1</Ident>
    <Name>image1</Name>
    <Serveraddress>localhost</Serveraddress>
    <Serverport>21</Serverport>
    <Username>username</Username>
    <Password>password</Password>
    <Mode>1</Mode>
    <Allowupload>0</Allowupload>
    <Uploadpath>F:/images/</Uploadpath>
    <Timeout>10</Timeout>
    <Remoteurl>http://ftp1.juxiangke.com/</Remoteurl>
    <Remoteurl2>http://ftp1.juxiangke.com/</Remoteurl2>
    <Reservelocalattach>0</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
    <AssemblyType></AssemblyType>
    <Enable>0</Enable>
    <Default>0</Default>
    <PathFormat>1</PathFormat>
  </FTPConfigInfo>
  <FTPConfigInfo>
    <Ident>2</Ident>
    <Name>image2</Name>
    <Serveraddress>192.168.100.111</Serveraddress>
    <Serverport>21</Serverport>
    <Username>oceancms</Username>
    <Password>123456</Password>
    <Mode>1</Mode>
    <Allowupload>0</Allowupload>
    <Uploadpath>test/</Uploadpath>
    <Timeout>10</Timeout>
    <Remoteurl>http://ftp2.juxiangke.com/</Remoteurl>
    <Remoteurl2>http://ftp2.juxiangke.com/</Remoteurl2>
    <Reservelocalattach>0</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
    <Assembly>FTP</Assembly>
    <Enable>1</Enable>
    <Default>1</Default>
    <PathFormat>1</PathFormat>
  </FTPConfigInfo>
</ArrayOfFTPConfigInfo>