<?xml version="1.0"?>
<Dictionary>
    <Key>
        <string>DBIP</string>
    </Key>
    <Value>
        <string>125.78.48.11</string>
    </Value>
    <Key>
        <string>DBUser</string>
    </Key>
    <Value>
        <string>BankWeixin2014</string>
    </Value>
    <Key>
        <string>DBPwd</string>
    </Key>
    <Value>
        <string>ssrcb123+</string>
    </Value>
    <Key>
        <string>ApiCode</string>
    </Key>
    <Value>
        <string>BankWeixin</string>
    </Value>
    <Key>
        <string>DBName</string>
    </Key>
    <Value>
        <string>mas</string>
    </Value>
    <Key>
      <string>SMID</string>
    </Key>
    <Value>
      <string>24</string>
    </Value>
    <Key>
        <string>ICP</string>
    </Key>
    <Value>
        <string>闽ICP备 4512120号</string>
    </Value>
    <Key>
        <string>Security</string>
    </Key>
    <Value>
        <string>闽公网安备 110102000450</string>
    </Value>
    <Key>
        <string>Copyright</string>
    </Key>
    <Value>
        <string>石狮农商银行版权所有</string>
    </Value>
    <Key>
        <string>ResourceDomain</string>
    </Key>
    <Value>
        <string>/images</string>
    </Value>
    <Key>
        <string>Domain</string>
    </Key>
    <Value>
        <string>http://funongbao.b2c123.com</string>
    </Value>
    <Key>
        <string>CommunicationDomain</string>
    </Key>
    <Value>
        <string>http://localhost:4591/</string>
    </Value>
    <Key>
        <string>Author</string>
    </Key>
    <Value>
        <string>微伍网络</string>
    </Value>
    <Key>
        <string>Telephone</string>
    </Key>
    <Value>
        <string>4000896336</string>
    </Value>
</Dictionary>