@{
    Layout = "../Shared/_IdenAuthLayout.cshtml";
}
@section Head{
}
<div id="AgreementMain" class="mbMain" style="">
      <div class="frameChang">
          <span class="stitle">微信服务平台持卡验证协议</span>
      </div>
      <div id="IdenAuthAgreement" class="frameLoginBox frameLoginChang">
          <section class="modBaseBox">
                  <div class="jjtxt">
                  <br />
                        <p style="font-weight:bold;text-align:center;">石狮农商银行福万通“普惠金融•福农宝”贷记卡微信服务平台持卡验证协议</p>
                        <p style="color: #666; line-height: 22px; font-size: 12px; font-family: 宋体; padding: 10px;">
                        <strong>
                        一、关于“石狮农商银行微信服务平台”</strong><br />
                        石狮农商银行微信服务平台（以下简称“本平台”）是石狮农商银行面向客户的新一代多渠道微信互动服务平台。客户可通过本平台获取相关的石狮农商银行福万通“普惠金融•福农宝”贷记卡（以下简称"福农宝"）服务内容，持卡客户通过微信号与本人福农宝账户进行关系验证，验证通过后可获取更多个人福农宝的咨询及服务。 
                        <br /><strong>
                        二、声明与承诺</strong><br />
                        1.您确认，您已充分阅读、理解并接受本协议的全部内容，一旦您接受本协议，即表示您与石狮农商银行已达成协议并同意接受本协议的全部约定。在接受本协议之前，请您仔细阅读本协议的全部内容。如果您不同意协议的任何内容，请不要进行后续操作。 <br />
                        2.您确认，在您同意接受本协议并申请开通相关业务功能时，石狮农商银行有理由相信您是具有完全民事权利能力和民事行为能力、能够独立承担民事责任的自然人。如不具备前述条件，您应该立即停止申请使用本服务。
                        <br /><strong>
                        三、持卡验证 </strong><br />
                         1.在您接受本协议并首次使用本平台时，本平台将根据您提供的真实姓名、证件号码、福农宝卡号、手机号码及其他相关内容，核实您身份信息的真实性，以确保您的信息安全。<br />
                        2.<span style="color:red;">自您将您的微信号与本人福农宝账户进行验证后，本协议正式生效。</span><br />
                          3.验证通过后，使用您的微信就能直接查信用额度、可用余额、费率以及进行调额申请。<br />
                        <strong>
                        四、使用规则</strong><br />
                        您有义务妥善保管您的证件号码、福农宝卡号及福农宝相关密码。为保障您个人的用卡安全，请妥善保管您的手机。<strong>如您的手机微信软件被他人使用，而造成额度信息、可用余额等信息泄漏，我行不承担责任。</strong>如您对本平台显示的信息有任何疑问，请及时联系4000896336石狮农商银行客服热线进行咨询。 <br />
                        <strong>
                        五、协议变更</strong><br />
                        石狮农商银行有权以网页界面、电子邮件、手机短信或微信的形式提前45天通知您后对本协议内容作出变更。如您在变更生效后继续使用本平台，则视为您同意石狮农商银行对本协议的变更。 <br />
                        <strong>
                        六、法律适用及争议解决 </strong><br />
　                        1.本协议之订立、生效、解释、履行等均适用中华人民共和国法律。<br />
                         2.因本协议而产生的或与本协议相关的一切争议，如不能协商解决，您同意将争议提交石狮农商银行所在地有管辖权的法院受理并裁判。<br />
                         </p>
                    </div> 
                    <div class="btnLoginBox">
                        <input type="submit" class="modBtnColor coloryellow" value="关 闭" onclick="history.go(-1);" />
                    </div>
            </section>
        </div>
</div>
