@{
    ViewBag.Title = "部门编辑";
}
@model Ocean.Entity.PermissionOrganization
@section Head{
    <style type="text/css">
        td
        {
            height: 25px;
            line-height: 25px;
        }
    </style>
    <script type="text/javascript">
        
    </script>
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false" style="padding: 10px;">
        <form id="organization-add" action="/Permission/_PermissionOrganizationEdit" method="post">
        <input type="hidden" name="OrganizationId" value="@(Model == null ? "" : Model.Id.ToString())" />
        <table style="width: 100%;">
            <tr>
                <td style="text-align: right;">
                    上级部门：
                </td>
                <td style="width: 80%;">
                    <input class="easyui-combotree" data-options="
                            url: '/Permission/_PermissionOrganizationList?buildTree=true',
                            method: 'post',
                            equired:true
                        " name="ParentId" value="@((Model == null || Model.ParentId == Guid.Empty) ? Guid.Empty.ToString() : Model.ParentId.ToString())" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    名称名称：
                </td>
                <td style="width: 80%;">
                    <input class="easyui-validatebox" data-options="required:true,validType:'length[2,10]'"
                            name="Name" value="@(Model == null ? "" : Model.Name)">
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    排序：
                </td>
                <td style="width: 80%;">
                    <input class="easyui-numberbox" data-options="required:true"
                            name="Sort" value="@(Model == null ? "" : Model.Sort.ToString())">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" class="btn" value=" 提 交 " />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#organization-add').form({
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data.success) {
                        $.messager.alert("操作成功", data.message, 'info', function () {
                            $('#organization-add').form('clear');
                            parent.CloseAddDialog();
                            parent.ReloadPage();
                        });
                    } else {
                        $.messager.alert('操作失败', data.message, 'error', function () {
                            $('#organization-add').form('clear');
                            parent.CloseAddDialog();
                        });
                    }
                }
            });
        });
    </script>
</div>
