@using System.Diagnostics
@using Microsoft.Win32
@using System.Globalization
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Global.css")" />
    <style type="text/css">
        .w70px
        {
            height: 21px;
        }
    </style>
</head>
<body>
</body>
</html>
