@{
    ViewBag.Title = "枚举值列表";
}
@section Head{
    <script type="text/javascript">
        var currentCheckedId = "";
        $(document).ready(function () {
            InitGrid();
            $('#tt').tree({
                onClick: function (node) {
                    currentCheckedId = node.id;
                    if (currentCheckedId != "00000000-0000-0000-0000-000000000000") {
                        InitGrid({ "EnumTypeId": currentCheckedId })
                    }
                }
            });
        });

        function InitGrid(queryData) {
            $('#grid').datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/Enum/_EnumDataList',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                title: '',
                loadMsg: '数据加载中,请稍后……',
                iconCls: 'icon-view',
                fit: true,
                nowrap: true,
                autoRowHeight: true,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 10,
                pageList: [5, 10, 15, 20],
                rownumbers: true,
                singleSelect: true,
                sortName: 'CreateDate',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                idField: 'Id',
                queryParams: queryData,  //异步查询的参数
                columns: [[
                //                     { field: 'ck', checkbox: true },   //选择
                     { title: '枚举名称', field: 'Name', width: 150, sortable: true },
                     { title: '枚举值', field: 'Value', width: 150, sortable: true },
                     { title: '枚举类型', field: 'EnumTypeName', width: 150, sortable: true }
                ]],
                toolbar: '#gridtoolbar'
            });
        }

        $(document).ready(function () {
            $('#w').window('close');
        });

        function ShowAddDialog() {
            if (!currentCheckedId || currentCheckedId == "00000000-0000-0000-0000-000000000000") {
                $.messager.alert('', '请选择枚举类型!');
            } else {
                $("#iframe").attr("src", "/Enum/EnumDataEdit?EnumTypeId=" + currentCheckedId);
                $('#w').window('open');
            }
        }

        function ShowEditOrViewDialog() {
            var selectedRows = $('#grid').datagrid('getSelections');
            if (selectedRows.length > 0) {
                var id = selectedRows[0].Id;
                $('#iframe').attr("src", "/Enum/EnumDataEdit?Id=" + id);
                $('#w').window('open');
            } else {
                $.messager.alert('提示', '请选择要修改的数据');
            }
        }

        function Delete() {
            var selectedRows = $('#grid').datagrid('getSelections');
            if (selectedRows.length > 0) {
                $.messager.confirm('提示', '确定要删除吗?请谨慎进行此操作!', function (r) {
                    if (r) {
                        var id = selectedRows[0].Id;
                        $.ajax({
                            type: "POST",
                            url: "/Enum/_EnumDataDelete",
                            dataType: "json",
                            data: "id=" + id,
                            success: function (msg) {
                                if (msg.success) {
                                    $.messager.alert('提示', msg.message, "", function () {
                                        window.location.href = window.location.href;
                                    });
                                } else {
                                    $.messager.alert('提示', msg.message);
                                }
                            }
                        });
                    }
                });
            } else {
                $.messager.alert('提示', '请选择要删除的数据');
            }
        }

        function CloseAddDialog() {
            $('#w').window('close');
        }

        function ReloadGrid() {
            $('#grid').datagrid('reload');
        }

        function UpdateCache() {
            $.ajax({
                type: "POST",
                url: "/Enum/_UpdateCache",
                dataType: "json",
                data: "",
                success: function (msg) {
                    if (msg.success) {
                        $.messager.alert('提示', msg.message, "", function () {
                            window.location.href = window.location.href;
                        });
                    } else {
                        $.messager.alert('提示', msg.message);
                    }
                }
            });
        }
    </script>
}
<div class="easyui-layout" fit="true">
    <div data-options="region:'west',split:true" title="枚举类型" style="width: 180px;">
        <ul id="tt" class="easyui-tree" data-options="url:'/Enum/_EnumTypeTree',method:'post',animate:true">
        </ul>
    </div>
    <div data-options="region:'center',title:'枚举值'">
        <div id="gridtoolbar" style="padding: 5px; height: auto">
            <div style="margin-bottom: 5px">
                @Html.ActionLink("添加", null, null, new { onclick = "ShowAddDialog()", data_options = "iconCls:'icon-add', plain:true", @class = "easyui-linkbutton", href = "javascript:void(0)" })
                @Html.ActionLink("修改", null, null, new { onclick = "ShowEditOrViewDialog()", data_options = "iconCls:'icon-edit', plain:true", @class = "easyui-linkbutton", href = "javascript:void(0)" })
                @Html.ActionLink("删除", null, null, new { onclick = "Delete()", data_options = "iconCls:'icon-remove', plain:true", @class = "easyui-linkbutton", href = "javascript:void(0)" })
                @Html.ActionLink("更新缓存", null, null, new { onclick = "UpdateCache()", data_options = "iconCls:'icon-reload', plain:true", @class = "easyui-linkbutton", href = "javascript:void(0)" })
            </div>
        </div>
        <table id="grid">
        </table>
    </div>
    <div id="w" class="easyui-window" title="权限管理" data-options="iconCls:'icon-save'"
        style="width: 500px; height: 300px; padding: 5px;">
        <iframe id="iframe" src="" frameborder="0" scrolling="no" style="width: 100%; height: 100%;">
        </iframe>
    </div>
</div>
