@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>@ViewBag.Title</title>
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="@Url.Content("~/Content/javascripts/jquery/jquery-1.11.1.min.js")"></script>
</head>
<body>
@PluginTemplate.CurrentPlugins()
</body>
</html>